<ion-pane>
<ion-scroll scroll>
<div class="BigBJ">
	<div class="TopHead">
<!-- 	<img src="../../../images/back2.png" alt=""> -->
	</div>
	<div class="PageTitle">
	<p>输入用户名和密码</p>
	</div>
	<div class="BigIput">
		<div class="InputItem">
		    <input type="text" class="UserName Top" ng-model="User.UserName" placeholder="输入用户名">
		</div>
		<div class="InputItem">
			<input type="password" ng-show="PasswordState" ng-model="User.UserPassword" class="UserPassword Top" placeholder="输入密码">
			<input type="text" ng-show="!PasswordState" ng-model="User.UserPassword" class="UserPassword Top" placeholder="输入密码">
			<div class="Right Top">
			<div class="Btn">
			<span ng-show="PasswordState" ng-click="TagglePassword()">显示</span>
			<span ng-show="!PasswordState" ng-click="TagglePassword()">隐藏</span>
			</div>
			</div>
		</div>
		<div class="InputItem">
			<input type="text" class="UserYzm Bottom" maxlength="4" ng-model="User.UserYzm" placeholder="验证码">
			<div class="Right Bottom">
			<div id="v_container"></div>
			</div>
		</div>
	</div>

	    <div class="LoginBtn" ng-click="SubmitLogin()">
	      <span>登录</span>
	    </div>
<!-- 	    <div style="width: 100%;height: 9rem;background:#fff"></div> -->

<!-- 	<div class="NextPage">
	    <div class="Left">
	      <img src="../../..//images/RegisterY2.png" alt="">
	      <img src="../../..//images/RegisterY1.png" alt="">
	      <img src="../../..//images/RegisterY1.png" alt="">
	    </div>
	    <div class="Right" ng-click="SubmitLogin()">
	      <span>登录</span>
	    </div>
    </div> -->
</div>
</ion-scroll>
</ion-pane>