<div class="all_head1">
   <div class="all_head1back" onclick="window.history.back(-1);">
     <img src="../../../images/back.png">
   </div>
   <div class="all_head1mid">
   <p>{{title}}</p>
   </div>
   <div class="all_head1edit" ng-click="ShowMenu()">
   <img src="../../../images/dian.png">
   </div>
   <div class="Menu2" ng-show="MenuShow">
     <ul class="ul_Menu">
<!--        <li class="MenuItem" ui-sref-active="select" ui-sref="Login">
          <img src="../../../images/login.png" alt="">
          <span>登录页面</span>
       </li> -->
       <li class="MenuItem" ui-sref-active="select" ui-sref="WorkWeekly">
          <img src="../../../images/ribao.png" alt="">
          <span>工作日报</span>
       </li>
       <li class="MenuItem" ui-sref-active="select" ui-sref="Add_Demand">
          <img src="../../../images/xuqiu.png" alt="">
          <span>添加需求</span>
       </li>
       <li class="MenuItem" ui-sref-active="select" ui-sref="DemandTrack">
          <img src="../../../images/yulan.png" alt="">
          <span>需求跟踪</span>
       </li>
        <li class="MenuItem" ng-click="OutLogin()">
          <img src="../../../images/login.png" alt="">
          <span>注销用户</span>
       </li>
     </ul>
   </div>
</div>